SECRET_KEY=your-secret-key-here
DEBUG=False
ALLOWED_HOSTS=localhost 127.0.0.1 your_server_ip

DB_NAME=task_manager
DB_USER=postgres
DB_PASSWORD=strongpassword
DB_HOST=db
DB_PORT=5432

REDIS_URL=redis://redis:6379/0